<div class="sidebar">
    <div class="sidebar-wrapper">
        <ul class="sidebar-head">
            <li><a href="/admin/home">ST</a></li>
        </ul>
    </div>
    <ul class="sidebar-nav">
        <li><a class="active" href="/admin/home" data-toggle="tooltip" data-placement="right" title="Dashboard"><i data-feather="cpu"></i></a></li>
            <li><a  href="/admin/order" data-toggle="tooltip" data-placement="right" title="orders"><i data-feather="plus"></i></a></li>
            <li><a  href="/admin/customer" data-toggle="tooltip" data-placement="right" title="Customer Details "><i data-feather="user"></i></a></li>
            <li><a href="/admin/supplier" data-toggle="tooltip" data-placement="right" title="Supplier Details"><i data-feather="shopping-cart"></i></a></li>
            <li><a href="/admin/shipping" data-toggle="tooltip" data-placement="right" title="Shipping Details"><i data-feather="truck"></i></a></li>
            <li><a href="/admin/map" data-toggle="tooltip" data-placement="right" title="Map"><i data-feather="map-pin"></i></a></li>
            <li><a [routerLink]="['/admin/deals']" data-toggle="tooltip" data-placement="right" title="Deals"><i data-feather="gift"></i></a></li>
            <li><a [routerLink]="['/admin/sales-report']" data-toggle="tooltip" data-placement="right" title="Sales and Report"><i data-feather="activity"></i></a></li>
            <li><a href="#" data-toggle="tooltip" data-placement="right" title="settings"><i data-feather="settings"></i></a></li>
    </ul>
</div>
