
<head>
    <title>Slab Tab</title>
    <!-- bootstrap.css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- font-awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <!-- zoom-czrousel.css -->
    <link rel="stylesheet" type="text/css" href="../../assets/css/user/jquery.exzoom.css">
    <!-- default.css -->
    <link rel="stylesheet" type="text/css" href="../../assets/css/user/default.css">
</head>

<body>
    <nav class="top-nav navbar navbar-expand-lg sticky-top">
        <div class="container">
            <a class="navbar-brand" href="#">SLAB TAB</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Slab</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Help</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i data-feather="shopping-cart"></i><span class="badge badge-light">4</span></a>
                    </li>
                </ul>
            </div>
    
    </div></nav>
    <div class="page-content">
        <div class="shop-cart">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="fill-container lg">
                            <span class="fill green"></span>
                            <span class="fill green"></span>
                            <span class="fill red"></span>
                            <span class="fill red"></span>
                            <span class="fill yellow"></span>
                            <span class="fill yellow"></span>
                            <span class="fill gray"></span>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-12 form-box">
                                <h5 class="mb-3"><strong>Instruction</strong></h5>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-bordered table-content">
                    <thead>
                        <tr>
                            <th rowspan="2">Name</th>
                            <th colspan="3" class="text-center">Info</th>
                            <th rowspan="2">Quantity</th>
                            <th rowspan="2">Total</th>
                            <th rowspan="2"></th>
                        </tr>
                        <tr>
                            <th>Sqft</th>
                            <th>Thickness</th>
                            <th>Dimension</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Slab Name 1</td>
                            <td>10sqft</td>
                            <td>20mm</td>
                            <td>1000x10000</td>
                            <td>10</td>
                            <td>$5000</td>
                            <td class="text-center"><a class="remove">Remove</a></td>
                        </tr>
                        <tr>
                            <td>Slab Name 2</td>
                            <td>10sqft</td>
                            <td>20mm</td>
                            <td>1000x10000</td>
                            <td>1</td>
                            <td>$5000</td>
                            <td class="text-center"><a class="remove">Remove</a></td>
                        </tr>
                        <tr>
                            <td>Slab Name 3</td>
                            <td>10sqft</td>
                            <td>20mm</td>
                            <td>1000x10000</td>
                            <td>100</td>
                            <td>$5000</td>
                            <td class="text-center"><a class="remove">Remove</a></td>
                        </tr>
                        <tr>
                            <td colspan="4">Tax</td>
                            <td>10%</td>
                            <td colspan="2">$150</td>
                        </tr>
                        <tr>
                            <td colspan="4">Shipping</td>
                            <td>-</td>
                            <td colspan="2">$100</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="4">Total</th>
                            <th>111</th>
                            <th colspan="2">$1750</th>
                        </tr>
                    </tfoot>
                </table>
                <div class="cart-button">
                    <div class="row">
                        <div class="col-md-4">
                            <a href="#" class="btn btn-primary">Clear Container</a>
                        </div>
                        <div class="col-md-8 text-right">
                            <a href="index.html" class="btn btn-outline-primary">Continue shopping</a>
                            <a href="billing-info.html" class="btn btn-primary">Confirm To checkout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="row row-col">
                <div class="col-md-4">
                    <h1 class="footer-title">Slab Tab</h1>
                    <p>Reference site about Lorem Ipsum, giving information on its origins.</p>
                </div>
                <div class="col-md-4">
                    <h5>Company</h5>
                    <ul class="company-links">
                        <li><a class="about-company" href="#">Help</a></li>
                        <li><a class="about-company" href="#">Careers</a></li>
                        <li><a class="about-company" href="#">News</a></li>
                        <li><a class="about-company" href="#">Insurance</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h5>About</h5>
                    <ul class="company-links">
                        <li><a class="about-company" href="#">Help</a></li>
                        <li><a class="about-company" href="#">Careers</a></li>
                        <li><a class="about-company" href="#">News</a></li>
                        <li><a class="about-company" href="#">Insurance</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <p class="company-links">&copy 2018 Slab Tab</p>
                </div>
            </div>
        </div>
        </div>
        <!-- bootstrap.js -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <!-- feather-icon -->
        <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
        <!-- zoom-carousel.js -->
        <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
        <script src="../../assets/js/jquery.exzoom.js">
        </script>
        <script type="text/javascript">
        feather.replace()
        </script>
        <!-- bootstrap-carousel -->
        <script type="text/javascript">
        $('.carousel').carousel()
        </script>
        <!-- zoom-carousel -->
        <script type="text/javascript">
        $(function() {
            $("#exzoom").exzoom({
                // options here
            });
        });
        </script>
</body>
