<div class="login-container">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">Slab Tab</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item" ><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"  ><a class="nav-link" href="/">About</a></li>
                    <li class="nav-item" ><a class="nav-link" href="/login">Signin</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="login-page">
        <div class="register-card row">
            <div class="col-md-5 col-sm-6 col-xs-12 left">
                <h6 class=""><strong>Create A New Member Account</strong></h6>
                <p>To gain access to the Slab Market you need to setup an account.</p>
                <p>Any information received from our users will not be sold, shared, or rented to others in ways different from those disclosed in our Privacy Policy.</p>
                <br>
                <p>Already have an account?</p>
                <a href="/login" class="btn btn-light no-margin">Login to your Account</a>
            </div>
            <div class="col-md-7 col-sm-6 col-xs-12 right">
                <br><br>
                <div class="form-group">
                    <a href="/customer/register" class="btn btn-primary btn-block btn-big btn-green">Create a Customer Account</a>
                </div>
                <div class="form-group">
                    <a href="/supplier/register" class="btn btn-primary btn-block btn-big btn-orange">Create a Supplier Account</a>
                </div>
                <br>
                <p>It will allow you to use all of our online portals with just one account. Registering will also simplify the purchasing process in our online store.</p>
            </div>
        </div>
    </div>




</div>
