<ngx-loading [show]="loading"></ngx-loading>

<div class="login-container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="#">Slab Trade</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a [routerLink]="['/customer']" class="nav-link">Home</a></li>
          <li class="nav-item"><a class="nav-link">About</a></li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Customer Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Supplier Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="login-page">
    <div class="register-card row">
      <div class="col-md-5 col-sm-6 col-xs-12 left">
        <h6 class=""><strong>Login</strong></h6>
        <p>Please enter your e-mail address and password, then click "Login". You should have cookies enabled in your
          browser for successfull login.</p>
        <br>
        <p>Don't have an account?</p>
        <a href="/register" class="btn btn-light no-margin">Create New Account</a>
      </div>
      <div class="col-md-7 col-sm-6 col-xs-12 right">
        <br><br>
        <form #f="ngForm" (ngSubmit)="onSubmit(f)">
          <div class="form-group">
            <input class="form-control" type="email" placeholder="Email" ngModel name='email' required #email="ngModel"
              pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
              <div *ngIf="email.errors && email.errors.pattern">
                Email is invalid
              </div>

              <div *ngIf="email.errors.required">
                Email is required.
              </div>
            </div>
          </div>
          <div class="form-group">
            <input class="form-control" type="password" placeholder="Password" ngModel name='password' required #pass="ngModel"
              minlength="6">
            <div *ngIf="pass.invalid && (pass.dirty || pass.touched)" class="alert alert-danger">

              <!-- <div  *ngIf="pass.errors && pass.errors.pattern">
                          Email is invalid
                      </div> -->

              <div *ngIf="pass.errors.required">
                password is required.
              </div>
              <div *ngIf="pass.errors.minlength">
                password should not be less than 6 character.
              </div>


            </div>
            <div [hidden]="err" class="alert alert-danger">
              Invalid credentials.Please try again later.
            </div>
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block" [disabled]="!f.valid">Login</button>
            <!-- <a href="" class="btn btn-primary btn-block">Login</a> -->
          </div>
        </form>
        <p class="note"><a href="forgot-password.html">Forgot Password?</a></p>
      </div>
    </div>
  </div>
</div>
