<div id="page-container">
  <app-sidebar></app-sidebar>
  <div class="page-wrapper">
    <app-navbar></app-navbar>
  <div class="page-inner sub-menu-inner">
    <div class="container">
        <section class="order-table">
            <div class="table-details orders text-center">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">SNO</th>
                            <th scope="col">Name</th>
                            <th scope="col">Account Type</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="customer-list-details.html" class="fields">1</a></td>
                            <td><a href="customer-list-details.html" class="fields">John <span class="flag-icon flag-icon-us"></span></a></td>
                            <td><a href="customer-list-details.html" class="fields">Inventory</a></td>
                            <td><a href="order-details.html" class="fields"><span class="badge badge-success">Verified</span></a></td>
                            <td>
                                <a href="#" class="btn btn-primary">Edit</a>
                                <a href="#" class="btn btn-danger">Delete</a>
                            </td>
                        </tr>
                        <tr>
                            <td><a href="customer-list-details.html" class="fields">2</a></td>
                            <td><a href="customer-list-details.html" class="fields">Deep <span class="flag-icon flag-icon-in"></span></a></td>
                            <td><a href="customer-list-details.html" class="fields">Non Inventory</a></td>
                            <td><a href="customer-list-details.html" class="fields"><span class="badge badge-danger">Not Verified</span></a></td>
                            <td>
                                <a href="#" class="btn btn-primary">Edit</a>
                                <a href="#" class="btn btn-danger">Delete</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</div>
