<style>

    table { table-layout:fixed; }
    table td { overflow: hidden; word-break: break-all }

  </style>
<ngx-loading [show]="loading"></ngx-loading>
<div id="page-container">
        <app-sidebar></app-sidebar>
        <div class="page-wrapper">
          <app-navbar></app-navbar>
<div class="page-inner sub-menu-inner">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="scheme-block mb-5">
                    <div class="scheme-view">
                        <div class="scheme-icon">
                            <i class="fas fa-square"></i>
                        </div>
                        <div class="scheme-title">
                            <h4>2</h4>
                            <p>Total Slabs</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="scheme-block mb-5">
                    <div class="scheme-view">
                        <div class="scheme-icon">
                            <i class="fas fa-th"></i>
                        </div>
                        <div class="scheme-title">
                            <h4>23</h4>
                            <p>Total Bundles</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="scheme-block mb-5">
                    <div class="scheme-view">
                        <div class="scheme-icon">
                            <i class="fas fa-shopping-bag"></i>
                        </div>
                        <div class="scheme-title">
                            <h4>345</h4>
                            <p>Total Orders</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="scheme-block mb-5">
                    <div class="scheme-view">
                        <div class="scheme-icon">
                            <i class="fas fa-chart-bar"></i>
                        </div>
                        <div class="scheme-title">
                            <h4>2</h4>
                            <p>Day to Day Sales Report</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <section class="dashboard order-table sm">
                    <h5 class="sub-title mb-4">Created Products</h5>
                    <div class="table-details orders">
                        <table class="table data-table table-bordered text-center">
                            <thead>
                                <tr>
                                    <th scope="col">Product Id</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>

                              <tr *ngFor="let product of products">
                                <td><a class="fields">#{{product.bundle_number}}</a></td>
                                <td><a  class="fields">{{product.product_name}}
                                     <!-- <span class="flag-icon flag-icon-us"></span> -->
                                    </a></td>
                                <td>
                                  <!--(click) = "editProduct(product)"-->
                                    <a  routerLink="/supplier/editProduct/{{product._id}}"  class="btn btn-primary">Edit</a>
                                    <a href="#" class="btn btn-danger">Delete</a>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </section>
            </div>

            <div class="col-md-6 col-xs-12">
                <section class="dashboard order-table sm">
                    <h5 class="sub-title mb-4">Available Orders</h5>
                    <div class="table-details orders">
                        <table class="table data-table table-bordered text-center">
                            <thead>
                                <tr>
                                  <th scope="col">Order Id</th>
                                  <th scope="col">Bundle Name</th>
                                  <th scope="col">Date</th>
                                  <th scope="col">Status</th>
                                  <!-- <th scope="col">Action</th> -->
                                </tr>
                            </thead>
                            <tbody>

                              <tr *ngFor='let order of orders'>
                                <td><a (click)="orderDetail1(order)" class="fields">#{{order._id}}</a></td>
                                <td>
                                    <a class="fields">{{order.products[0].bundle_id}}
                                    </a></td>
                                <td><a class="fields">{{order.created_at | date:'dd/MM/yyyy'}}</a></td>
                                <td><a class="fields"><span class="badge badge-warning">{{order.cancel_status}}</span></a></td>
                                <!-- <td>
                                    <a (click)="orderDetail1(order)" class="btn btn-primary">Edit</a>
                                    <a href="#" class="btn btn-danger">Delete</a>
                                </td> -->
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </section>
            </div>

        </div>
    </div>
    </div>


        </div></div>
