<style>
.enabled_color {
  font-weight: 600;
  color: black;
}

.disabled_color {
  font-weight: 600;
}
</style>
<div id="page-container">
  <app-sidebar></app-sidebar>
  <div class="page-wrapper">
    <app-navbar></app-navbar>
    <div *ngIf="ishome">
    <div class="page-inner sub-menu-inner">
      <div class="container">

          <section class="order-table">
              <h5 class="sub-title">Orders</h5>
              <div class="table-details orders">
                  <table class="table table-bordered text-center">
                      <thead>
                          <tr>
                              <th scope="col">Order Id</th>
                              <th scope="col">Name</th>
                              <th scope="col">Date</th>
                              <th scope="col">Status</th>
                              <th scope="col">Action</th>
                          </tr>
                      </thead>
                      <tbody>
                            <ng-template ngFor let-order [ngForOf]= "orders" let-i="index">
                          <tr>
                              <td><a (click) = "isOrderClick(order)" class="fields">#{{order._id}}</a></td>
                              <td><a (click) = "isOrderClick(order)" class="fields">{{order.name}} <span class="flag-icon flag-icon-us"></span></a></td>
                              <td><a (click) = "isOrderClick(order)" class="fields">{{order.created_at | date:'shortDate'}}</a></td>
                              <td><a (click) = "isOrderClick(order)" class="fields"><span class="badge badge-warning">{{order.cancel_status}}</span></a></td>
                              <td>
                                  <a class="btn btn-primary" (click)="isOrderClick(order)">Edit</a>
                                  <a (click)="rejectOrder(order)" class="btn btn-danger">Delete</a>
                              </td>
                          </tr>
                 </ng-template>
                      </tbody>
                  </table>
              </div>
          </section></div>


        </div>

      </div>


      <div *ngIf="!ishome">

            <section style="
              top: 75px;
              left: 70px;
              " class="sub-menu">
                    <ul>
                        <li>
                            <a [ngClass]="isorderstatus ? 'active' : ''" (click)="isOrderStatus()">Order Status</a>
                        </li>
                        <li>
                            <a [ngClass]="ispaymentmode ? 'active' : ''" (click)="isPaymentMode()">Payment Details</a>
                        </li>
                        <li>
                            <a [ngClass]="issupplierdetail ? 'active' : '' " (click)="isSupplierDetail()">Supplier Details</a>
                        </li>
                        <li>
                            <a [ngClass]="isCustomer ? 'active' : ''" (click)="is_Customer()">Customer</a>
                        </li>
                    </ul>
                </section>


      </div>


      <div *ngIf="isorderstatus">


            <div class="page-inner sub-menu-inner">
                    <div class="container">
                        <section class="order-status">
                            <div class="order-details">
                                <div class="form-group">
                                    <label for="FormContros">Order Status</label>
                                    <select class="form-control" id="FormControls" [(ngModel)]="order_status">
                                        <option class='enabled_color'>Pending</option>
                                        <option class='enabled_color'>Processing</option>
                                        <option [ngClass]="checking_order_status === 'Pending' ? 'disabled_color' : 'enabled_color'"  [disabled]="checking_order_status === 'Pending'" value="Accepted">Confirmed</option>
                                        <option [ngClass]="(checking_order_status === 'Pending' || checking_order_status === 'Processing') ? 'disabled_color' : 'enabled_color'" [disabled]="checking_order_status === 'Pending' || checking_order_status === 'Processing'">Shipped</option>
                                        <option [ngClass]="(checking_order_status === 'Pending' || checking_order_status === 'Processing' || checking_order_status === 'Accepted') ? 'disabled_color' : 'enabled_color'" [disabled]="checking_order_status === 'Pending' || checking_order_status === 'Processing' || checking_order_status === 'Accepted'">Arrived</option>
                                        <option [ngClass]="(checking_order_status === 'Pending' || checking_order_status === 'Processing' || checking_order_status === 'Accepted' || checking_order_status == 'Shipped') ? 'disabled_color' : 'enabled_color'" [disabled]="checking_order_status === 'Pending' || checking_order_status === 'Processing' || checking_order_status === 'Accepted' || checking_order_status == 'Shipped'">Delivered</option>
                                    </select>
                                </div>
                                <div class="text-right">
                                    <a class="btn btn-primary btn-sm no-margin" (click)="onStatusUpdate()">Update</a>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>




      </div>


      <div *ngIf="ispaymentmode">


            <div class="page-inner sub-menu-inner">
                    <div class="container">
                        <section class="order-status">
                            <div class="order-details">
                                <div class="form-group">
                                    <label for="FormContros">Payment Mode</label>
                                    <select class="form-control" id="FormControls" [(ngModel)] = "payment">
                                        <option value="Card">Card</option>
                                        <option value="cash">Cash</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="FormContros">Payment Status</label>
                                    <select class="form-control" id="FormControls" [(ngModel)] = "paymentstatus">
                                        <option class="enabled_color">Pending</option>
                                        <option class="enabled_color">Payment In Progress</option>
                                        <option [ngClass]="checking_payment_status === 'Pending' ? 'disabled_color' : 'enabled_color'"  [disabled]="checking_payment_status === 'Pending'">Paid</option>
                                    </select>
                                </div>
                                <div class="text-right">
                                    <a (click)="updateStatus()" class="btn btn-primary no-margin btn-sm">Update</a>
                                </div>
                            </div>
                        </section>
                        <section class="payment-details">
                            <div class="payment-doc">
                                <h5 class="sub-title">Wire Instruction</h5>
                                <div class="document-box">
                                    <div class="row document-list">
                                        <div class="col-md-6">
                                                <input type="file" name="image[0]" id="other2_img_upload_btn" class="upload" (change)="allFilesToUpload($event)" />
                                        </div>
                                        <div class="col-md-6 text-right">
                                            <a href="#" class="btn btn-primary">Edit</a>
                                            <a  class="btn btn-secondary">Cancel</a>
                                        </div>
                                    </div>
                                    <div class="row document-list">
                                        <div class="col-md-6">
                                                <input type="file"  name="image[0]" id="other2_img_upload_btn" class="upload" (change)="allFilesToUpload($event)" />
                                        </div>
                                        <div class="col-md-6 text-right">
                                            <a href="#" class="btn btn-primary">Edit</a>
                                            <a  class="btn btn-secondary">Cancel</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row upload-padding">
                                        <div class="col-md-12 text-right">
                                            <a (click) = "wiredDocUpload()" class="btn btn-primary no-margin">Upload New</a>
                                        </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>

      </div>

      <div *ngIf="issupplierdetail">
            <div class="page-inner sub-menu-inner">
                    <div class="container supplier-box">
                        <section class="supplier-status">
                            <div class="supplier-details">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h3>View/Create Purchase Order</h3>
                                    </div>
                                    <div class="col-md-6 text-right">
                                        <a href="#" class="btn btn-primary">View</a>
                                        <a href="#" class="btn btn-secondary">Edit</a>
                                        <a (click) = "purchaseOrder()" class="btn btn-primary">Create</a>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="supplier-verification">
                            <div class="supplier-doc">
                                <h4 class="sub-title">Document Verification</h4>
                                <div class="document-box">

                                    <ng-template ngFor let-doc [ngForOf]= "doc_arr" let-i="index">
                                    <div class="row document-list">
                                        <div class="col-md-6">
                                            <h4>Document Name {{i+1}}</h4>
                                        </div>
                                        <div class="col-md-6 text-right">
                                            <a href={{doc}} class="btn btn-primary btn-sm">View</a>
                                            <a href={{doc}} class="btn btn-secondary btn-sm">Download</a>
                                        </div>
                                    </div></ng-template>


                                </div>
                            </div>
                        </section>
                    </div>
                </div>


        </div>

        <div *ngIf="isCustomer">

                <div class="page-inner sub-menu-inner">
                        <div class="container">
                            <section class="customer-status">
                                <div class="customer-details">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h5 class="mb-3">Lorem Ipsum is simply dummy text of the printing</h5>
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section class="customer-verification">
                                    <ng-template ngFor let-product [ngForOf]= "bundle_arr" let-i="index">
                                <div class="customer-doc">
                                    <!-- <div class="right-description"> -->
                                    <h4 class="bundle-header">Bundle Block No:#{{i}}</h4>
                                    <table class="table-description">
                                        <tbody>
                                            <tr class="row-option row">
                                                <td class="table-option col-md-8">Type : </td>
                                                <td class="table-option1 col col-md-4">
                                                    <ul>
                                                        <li class="item">{{product['product_type']}} </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <tr class="row-option row">
                                                <td class="table-option col-md-8">Color :</td>
                                                <td class="table-option1 col-md-4">
                                                    <ul>
                                                        <li class="item">{{product['color']}}</li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <tr class="row-option row">
                                                <td class="table-option col-md-8">Price</td>
                                                <td class="table-option1 col-md-4">
                                                    <ul>
                                                        <li class="item">${{product['price']}} </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <!-- <tr class="row-option row">
                                                <td class="table-option col-md-8">Bundle Count :</td>
                                                <td class="table-option1 col-md-4">
                                                    <ul>
                                                        <li class="item">{{products[i][quantity]}}</li>
                                                    </ul>
                                                </td>
                                            </tr> -->
                                            <tr class="row-option row">
                                                <td class="table-option col-md-8">Net Weight :</td>
                                                <td class="table-option1 col-md-4">
                                                    <ul>
                                                        <li class="item">{{product['net_weight']}}LBS</li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <tr class="row-option row">
                                                <td class="table-option col-md-8">Gross Weight :</td>
                                                <td class="table-option1 col-md-4">
                                                    <ul>
                                                        <li class="item">{{product['slab_weight']}}LBS</li>
                                                    </ul>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!-- </div> -->
                                </div></ng-template>
                            </section>
                        </div>
                    </div>


            </div>


</div>



<div *ngIf="iscreatepurchaseorder"  class = "purchase-order">

    <div class="page-inner sub-menu-inner">
        <div class="container">
            <div class="invoice-box">
                <div class="row">
                    <div class="col-md-8">
                        <div class="invoice-logo"><img src="../../../assets/img/1.png"></div>
                            <div class="invoice-address">
                                <h3>blue planet inc-boston</h3>
                                <p>135 Oak Hill Way Brockton,MA 02301 P:508-857-2440 F:508-857-2445</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="invoice-right text-right ">
                                <p>Invoice# <strong>bp02</strong></p>
                                <p>Invoice Date<b>:</b><strong> {{purchase_order.invoice_date| date}}</strong></p>
                            </div>
                        </div>
                    </div>
                    <h4 class="text-center">Invoice</h4>
                    <div class="invoice-vendor">
                        <h3>Vendor:</h3>
                        <h5>{{purchase_order.name}}</h5>
                        <p>{{purchase_order.street}}, {{purchase_order.city}}-{{purchase_order.state}} {{purchase_order.zip}}.</p>
                    </div>
                    <section class="invoice-table">
                        <table class="table table-bordered">
                            <thead class="text-center">
                                <tr>
                                    <th scope="col">Bill #</th>
                                    <th scope="col">Due Date</th>
                                    <th scope="col">Payment Terms</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{random}}</td>
                                    <td><input type="date" [(ngModel)]="purchase_order.due_date"></td>
                                    <td>Net 30 Days</td>
                                </tr>
                            </tbody>
                        </table>
                    </section>


                    <section class="invoice-table mt-4">
                        <table class="table table-bordered">
                            <thead class="text-center">
                                <tr>
                                    <th scope="col">Account</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Location</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Extended</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>#<input type="text" [(ngModel)]="purchase_order.account"></td>
                                    <td><input type="text" [(ngModel)]="purchase_order.description"></td>
                                    <td><input type="text" [(ngModel)]="purchase_order.location"></td>
                                    <td><input type="text" [(ngModel)]=purchase_order.quantity></td>
                                    <td>$<input type="text" [(ngModel)]="purchase_order.price"></td>
                                    <td>$<input type="text" [(ngModel)]="purchase_order.extended"></td>
                                </tr>
                                <tr class="invoice-total">
                                    <td colspan="5" class="text-right">Sub Total</td>
                                    <td>${{purchase_order.extended}}</td>
                                </tr>
                                <tr class="invoice-total">
                                    <td colspan="5" class="text-right">Tax</td>
                                    <td>$<input type="text" [(ngModel)]=purchase_order.tax></td>
                                </tr>
                                <tr class="invoice-total">
                                    <td colspan="5" class="text-right">Total</td>
                                    <td>${{purchase_order.extended*1 + purchase_order.tax*1}}</td>
                                </tr>
                                <!-- <tr class="invoice-total">
                                    <td colspan="5" class="text-right">Balance Due</td>
                                    <td>${{purchase_order_total}}</td>
                                </tr> -->
                            </tbody>
                        </table>
                    </section>
                </div>

                <div class="row">
                  <div class="col-md-12 col-xs-12">
                      <div class="text-right mt-3">
                        <a (click) = "createPurchaseOrder()" style="float:right;" class="btn btn-primary">Create</a>
                      </div>
                  </div>
              </div>

            </div>
        </div>



</div>
</div>
