<div id="page-container">
  <app-sidebar></app-sidebar>
  <div class="page-wrapper">
    <app-navbar></app-navbar>
    <div *ngIf="ishome">
    <div class="page-inner sub-menu-inner">
      <div class="container">
         
          <section class="order-table">
              <h5 class="sub-title">Orders</h5>
              <div class="table-details orders">
                  <table class="table table-bordered text-center">
                      <thead>
                          <tr>
                              <th scope="col">Order Id</th>
                              <th scope="col">Name</th>
                              <th scope="col">Date</th>
                              <th scope="col">Status</th>
                              <th scope="col">Action</th>
                          </tr>
                      </thead>
                      <tbody>
                            <ng-template ngFor let-order [ngForOf]= "orders" let-i="index"> 
                          <tr>
                              <td><a (click) = "isOrderClick(order)" class="fields">#{{order._id}}</a></td>
                              <td><a (click) = "isOrderClick(order)" class="fields">{{order.name}} <span class="flag-icon flag-icon-us"></span></a></td>
                              <td><a (click) = "isOrderClick(order)" class="fields">{{order.created_at}}</a></td>
                              <td><a (click) = "isOrderClick(order)" class="fields"><span class="badge badge-warning">{{order.cancel_status}}</span></a></td>
                              <td>
                                  <a class="btn btn-primary" (click)="isOrderClick(order)">Edit</a>
                                  <a (click)="rejectOrder(order)" class="btn btn-danger">Delete</a>
                              </td>
                          </tr>
                 </ng-template>
                      </tbody>
                  </table>
              </div>
          </section></div>

         
        </div>

      </div>


      <div *ngIf="!ishome">

            <section class="sub-menu">
                    <ul>
                        <li>
                            <a class="active" (click)="isOrderStatus()">Order Status</a>
                        </li>
                        <li>
                            <a (click)="isPaymentMode()">Payment Details</a>
                        </li>
                        <li>
                            <a (click)="isSupplierDetail()">Supplier Details</a>
                        </li>
                        <li>
                            <a (click)="is_Customer()">Customer</a>
                        </li>
                    </ul>
                </section>


      </div>

      
      <div *ngIf="isorderstatus">
          
            
            <div class="page-inner sub-menu-inner">
                    <div class="container">
                        <section class="order-status">
                            <div class="order-details">
                                <div class="form-group">
                                    <label for="FormContros">Order Status</label>
                                    <select class="form-control" id="FormControls" [(ngModel)]="order_status">
                                        <option>Action</option>
                                        <option>Pending</option>
                                        <option>Processing</option>
                                        <option>Confirmed</option>
                                        <option>Shipped</option>
                                        <option>Arrived</option>
                                        <option>Delivered</option>
                                    </select>
                                </div>
                                <div class="text-right">
                                    <a class="btn btn-primary btn-sm no-margin" (click)="onStatusUpdate()">Update</a>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>




      </div>


      <div *ngIf="ispaymentmode">


            <div class="page-inner sub-menu-inner">
                    <div class="container">
                        <section class="order-status">
                            <div class="order-details">
                                <div class="form-group">
                                    <label for="FormContros">Payment Mode</label>
                                    <select class="form-control" id="FormControls">
                                        <option>Card</option>
                                        <option>Cash</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="FormContros">Payment Status</label>
                                    <select class="form-control" id="FormControls">
                                        <option>Pending</option>
                                        <option>Payment In Progress</option>
                                        <option>Paid</option>
                                    </select>
                                </div>
                                <div class="text-right">
                                    <a href="#" class="btn btn-primary no-margin btn-sm">Update</a>
                                </div>
                            </div>
                        </section>
                        <section class="payment-details">
                            <div class="payment-doc">
                                <h5 class="sub-title">Wire Instruction</h5>
                                <div class="document-box">
                                    <div class="row document-list">
                                        <div class="col-md-6">
                                            <h4>Document Name 1</h4>
                                        </div>
                                        <div class="col-md-6 text-right">
                                            <a href="#" class="btn btn-primary">Edit</a>
                                            <a href="#" class="btn btn-secondary">Cancel</a>
                                        </div>
                                    </div>
                                    <div class="row document-list">
                                        <div class="col-md-6">
                                            <h4>Document Name 2</h4>
                                        </div>
                                        <div class="col-md-6 text-right">
                                            <a href="#" class="btn btn-primary">Edit</a>
                                            <a href="#" class="btn btn-secondary">Cancel</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row upload-padding">
                                        <div class="col-md-12 text-right">
                                            <a href="#" class="btn btn-primary no-margin">Upload New</a>
                                        </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>

      </div>

      <div *ngIf="issupplierdetail">
            <div class="page-inner sub-menu-inner">
                    <div class="container supplier-box">
                        <section class="supplier-status">
                            <div class="supplier-details">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h3>View/Create Purchase Order</h3>
                                    </div>
                                    <div class="col-md-6 text-right">
                                        <a href="#" class="btn btn-primary">View</a>
                                        <a href="#" class="btn btn-secondary">Edit</a>
                                        <a href="#" class="btn btn-primary">Create</a>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="supplier-verification">
                            <div class="supplier-doc">
                                <h4 class="sub-title">Document Verification</h4>
                                <div class="document-box">
                                    <div class="row document-list">
                                        <div class="col-md-6">
                                            <h4>Document Name 1</h4>
                                        </div>
                                        <div class="col-md-6 text-right">
                                            <a href="#" class="btn btn-primary btn-sm">View</a>
                                            <a href="#" class="btn btn-secondary btn-sm">Download</a>
                                        </div>
                                    </div>
                                    <div class="row document-list">
                                        <div class="col-md-6">
                                            <h4>Document Name 2</h4>
                                        </div>
                                        <div class="col-md-6 text-right">
                                            <a href="#" class="btn btn-primary btn-sm">View</a>
                                            <a href="#" class="btn btn-secondary btn-sm">Download</a>
                                        </div>
                                    </div>
                                    <div class="row document-list">
                                        <div class="col-md-6">
                                            <h4>Document Name 3</h4>
                                        </div>
                                        <div class="col-md-6 text-right">
                                            <a href="#" class="btn btn-primary btn-sm">View</a>
                                            <a href="#" class="btn btn-secondary btn-sm">Download</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>


        </div>

        <div *ngIf="isCustomer">

                <div class="page-inner sub-menu-inner">
                        <div class="container">
                            <section class="customer-status">
                                <div class="customer-details">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h5 class="mb-3">Lorem Ipsum is simply dummy text of the printing</h5>
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section class="customer-verification">
                                    <ng-template ngFor let-product [ngForOf]= "bundle_arr" let-i="index"> 
                                <div class="customer-doc">
                                    <!-- <div class="right-description"> -->
                                    <h4 class="bundle-header">Bundle Block No:#{{i}}</h4>
                                    <table class="table-description">
                                        <tbody>
                                            <tr class="row-option row">
                                                <td class="table-option col-md-8">Type : </td>
                                                <td class="table-option1 col col-md-4">
                                                    <ul>
                                                        <li class="item">{{product['product_type']}} </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <tr class="row-option row">
                                                <td class="table-option col-md-8">Color :</td>
                                                <td class="table-option1 col-md-4">
                                                    <ul>
                                                        <li class="item">{{product['color']}}</li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <tr class="row-option row">
                                                <td class="table-option col-md-8">Price</td>
                                                <td class="table-option1 col-md-4">
                                                    <ul>
                                                        <li class="item">${{product['price']}} </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <!-- <tr class="row-option row">
                                                <td class="table-option col-md-8">Bundle Count :</td>
                                                <td class="table-option1 col-md-4">
                                                    <ul>
                                                        <li class="item">{{products[i][quantity]}}</li>
                                                    </ul>
                                                </td>
                                            </tr> -->
                                            <tr class="row-option row">
                                                <td class="table-option col-md-8">Net Weight :</td>
                                                <td class="table-option1 col-md-4">
                                                    <ul>
                                                        <li class="item">{{product['net_weight']}}kg</li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <tr class="row-option row">
                                                <td class="table-option col-md-8">Gross Weight :</td>
                                                <td class="table-option1 col-md-4">
                                                    <ul>
                                                        <li class="item">{{product['slab_weight']}}kg</li>
                                                    </ul>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!-- </div> -->
                                </div></ng-template>
                            </section>
                        </div>
                    </div>


            </div>


</div></div>
 