<div class="footer">
  <div class="container">
      <div class="row row-col">
          <div class="col-md-3">
              <h1 class="footer-title">Slab Trade</h1>
              <p>Address: 6701 Ammendale Rd, Beltsville, MD 20705.<br>
                Phone: 301 595 7006<br>
                Fax: 301 595 7008 <br>
                Email: maryland@blueplanetrocks.com</p>
          </div>
          <div class="col-md-3">
              <!-- <h5>Company</h5>
              <ul class="company-links">
                  <li><a class="about-company" href="#">Help</a></li>
                  <li><a class="about-company" href="#">Careers</a></li>
                  <li><a class="about-company" href="#">News</a></li>
                  <li><a class="about-company" href="#">Insurance</a></li>
              </ul> -->
          </div>
          <div class="col-md-3">
              <!-- <h5>About</h5>
              <ul class="company-links">
                  <li><a class="about-company" href="#">Help</a></li>
                  <li><a class="about-company" href="#">Careers</a></li>
                  <li><a class="about-company" href="#">News</a></li>
                  <li><a class="about-company" href="#">Insurance</a></li>
              </ul> -->
          </div>
          <div class="col-md-3">
              <h5>Company</h5>
              <ul class="company-links">
                  <li><a class="about-company" href="#">About US</a></li>
                  <li><a class="about-company" href="#">Careers</a></li>
                  <li><a class="about-company" href="#">Directions</a></li>
                  <li><a class="about-company" href="#">Contact</a></li>
              </ul>
          </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <p class="company-links">Slab Trade &copy; 2019. All Rights Reserved </p>
        </div>
      </div>
  </div>
</div>
