<ngx-loading [show]="loading"></ngx-loading>
        <div>
          <div id="page-container">
                  <app-sidebar></app-sidebar>
                  <div class="page-wrapper">
                    <app-navbar></app-navbar>
          <div class="page-inner">
              <div id="smartwizard3">
                  <ul class="nav justify-content-center">
                      <li><a href="#step-1">Slab Info<br /></a></li>
                      <li><a href="#step-2">Bundle Info<br /></a></li>
                      <li><a href="#step-3">Images<br /></a></li>
                      <li><a href="#step-4">Addition info<br /></a></li>
                  </ul>
                  <div>
                      <div id="step-1" class="page-content">
                                      <form #updateForm="ngForm">
                                          <div class="row form-box">
                                              <div class="col-sm-12">
                                                  <div class="form-group">
                                                      <label for="formGroupExampleInput">Product <span class="red">*</span></label>
                                                      <input #productName="ngModel" type="text" class="form-control" placeholder="Product"
                                                      [(ngModel)] = "bundle.product_name" name="product_name" required>
                                                      <div *ngIf="productName.invalid && (productName.dirty || productName.touched)" class="alert alert-danger" >

                                                        <div *ngIf="productName.errors.required">
                                                          Product Name is required.
                                                        </div>
                                                     </div>
                                                  </div>
                                              </div>
                                          </div>
                  <div class="row form-box">
                      <div class="col-md-6">
                          <div class="form-group">
                              <label for="exampleFormControlSelect1">Product Type <span class="red">*</span></label>
                              <select name="product_type" #g="ngModel" class="form-control" id="exampleFormControlSelect1" [(ngModel)] = "bundle.product_type"  required>
                                      <option>Type</option>
                                          <option value="granite">Granite</option>
                                          <option value="marble">Marble</option>
                                          <option value="quartzite">Quartzite</option>
                                          <option value="quartz">Quartz</option>
                                          <option value="soapstone">Soapstone</option>
                                          <option value="limestone">Limestone</option>
                                          <option value="onyx">Onyx</option>
                                          <option value="travertine">Travertine</option>
                                          <option value="slate">Slate</option>
                              </select>

                              <div *ngIf="g.invalid && (g.dirty || g.touched)" class="alert alert-danger" >

                                <div *ngIf="g.errors.required">
                                  Product Type is required.
                                </div>
                             </div>

                          </div>
                      </div>
                      <div class="col-md-6">
                          <div class="form-group">
                              <label for="exampleFormControlSelect1">Quality <span class="red">*</span></label>
                              <select name="quantity" #quantity="ngModel" class="form-control" id="exampleFormControlSelect1" [(ngModel)] = "bundle.quality"
                                required>
                                <option>Premium</option>
                                <option>High-standard</option>
                                <option>Commercial</option>
                              </select>
                              <div *ngIf="quantity.invalid && (quantity.dirty || quantity.touched)" class="alert alert-danger" >

                                <div *ngIf="quantity.errors.required">
                                  Quantity is required.
                                </div>
                             </div>
                          </div>
                      </div>
                  </div>

                  <div class="row padding">

                    <div class="col-md-12">
                        <p style="font-weight: bold; font-size: 0.76em;">slab Preference </p>
                    </div>

                    <div class="col-md-6 form-check-inline">
                        <label class="radio-button">Cut to Size
                            <input #preference="ngModel" type="radio" name="radio" value='cut_to_size' [(ngModel)]="bundle.slab_preference" >
                            <span class="checkmark"></span>
                        </label>
                        <label class="radio-button">Pre Fabricated
                            <input type="radio" name="radio" value='pre_fabricated' [(ngModel)]="bundle.slab_preference">
                            <span class="checkmark"></span>
                        </label>
                    </div>

                 

                  </div>


                  <div class="row padding">
                      <div class="col-sm-12">
                          <div class="form-group">
                              <label for="formGroupExampleInput">Price <span class="red">*</span></label>
                              <div class="input-group mb-3">
                                  <input name="price"  #price="ngModel" type="text" class="form-control" placeholder="Price"
                                   [(ngModel)] = "bundle.price" required >
                                  <div class="input-group-append">
                                      <span class="input-group-text" id="basic-addon2">USD</span>
                                  </div>
                              </div>
                              <div *ngIf="price.invalid && (price.dirty || price.touched)" class="alert alert-danger" >

                                <div *ngIf="price.errors.required">
                                  Price is required.
                                </div>
                             </div>
                          </div>
                      </div>
                  </div>
                  <div class="row form-box">
                      <!-- <div class="col-md-6">
                          <div class="form-group">
                              <label for="exampleFormControlSelect1">Color <span class="red">*</span></label>
                              <select name="color" #t="ngModel" class="form-control" id="exampleFormControlSelect1"
                              [(ngModel)] = "bundle.color" required>
                                      <option>Color</option>
                                      <option value="#000000">Black</option>
                                      <option value="#808080">Grey</option>
                                      <option value="#0000ff">Blue</option>
                              </select>
                              <div *ngIf="t.invalid && (t.dirty || t.touched)" class="alert alert-danger" >

                                <div *ngIf="t.errors.required">
                                  Color is required.
                                </div>
                             </div>
                          </div>
                      </div> -->
                      <!-- <div class="col-md-6">
                          <button type="button" class="btn btn-light btn-block" data-toggle="modal" data-target="#requestNew">
                              Request For New
                          </button>
                          <div class="modal fade" id="requestNew" tabindex="-1" role="dialog" aria-labelledby="requestNewLabel" aria-hidden="true" style="z-index: 9999;">
                              <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                      <div class="modal-header">
                                          <h5 class="modal-title" id="requestNewLabel">Request For New Color</h5>
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                              <span aria-hidden="true">&times;</span>
                                          </button>
                                      </div>
                                      <div class="modal-body">
                                          <div class="row">
                                              <div class="col-md-6">
                                                  <div class="form-group">
                                                      <label for="formGroupExampleInput">Color Name</label>
                                                      <input type="text" class="form-control" placeholder="Color Name" name = "new_color">
                                                  </div>
                                              </div>
                                              <div class="col-md-6">
                                                  <div class="form-group">
                                                      <label for="formGroupExampleInput">Color Code</label>
                                                      <input type="text" class="form-control" placeholder="Color Code"  name = "new_color_code">
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="modal-footer">
                                          <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                                          <button type="button" class="btn btn-primary" (click)="onDimensionChange(f)" [disabled]="!f.valid">Save changes</button>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div> -->
                  </div>
                          

              </form>
            </div>

              <div id="step-2" class="page-content">
              <form #form2="ngForm">
                  <div class="row form-box">
                      <div class="col-sm-12">
                          <div class="form-group">
                              <label for="formGroupExampleInput">Block Number <span class="red">*</span></label>
                              <input #blockNumber="ngModel" type="text" class="form-control" placeholder="Block Number" [(ngModel)] = "bundle.bundle_number" name="block_number" required>
                              <div *ngIf="blockNumber.invalid && (blockNumber.dirty || blockNumber.touched)" class="alert alert-danger" >

                                <div *ngIf="blockNumber.errors.required">
                                  Block number is required.
                                </div>
                             </div>
                          </div>
                      </div>
                  </div>
                  <div class="row form-box">
                    <div class="col-sm-12">
                        <label for="formGroupExampleInput">Dimension <span class="red">*</span></label>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input #bundleWidth="ngModel" type="text" (change)="createRange(bundle.no_of_slabs)" class="form-control"
                                    placeholder="Width" [(ngModel)] = "bundle.width" name="width"  required >
                                    <div *ngIf="bundleWidth.invalid && (bundleWidth.dirty || bundleWidth.touched)" class="alert alert-danger" >

                                      <div *ngIf="bundleWidth.errors.required">
                                        Width is required.
                                      </div>
                                   </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input #height type="text" (change)="createRange(bundle.no_of_slabs)" class="form-control"
                                     placeholder="Height" [(ngModel)] = "bundle.height" name = "height" required minlength="1">
                                     <div *ngIf="height.invalid && (height.dirty || height.touched)" class="alert alert-danger" >

                                      <div *ngIf="height.errors.required">
                                        Height is required.
                                      </div>
                                   </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-primary active" [ngClass]="{'active': unit=='inch'}" (click)="onUnitChange($event)" value="inch" >
                                        <input type="radio" name="options" ng-control="options" id="option10" autocomplete="off" value="inch" > inch
                                    </label>
                                    <label class="btn btn-primary" (click)="onUnitChange($event)" [ngClass]="{'active': unit=='cm'}">
                                        <input type="radio" name="options" ng-control="options" id="option20" autocomplete="off" value="cm" > cm
                                    </label>
                                    <label class="btn btn-primary" (click)="onUnitChange($event)" [ngClass]="{'active': unit=='m'}">
                                        <input type="radio" name="options" ng-control="options" id="option30" autocomplete="off" value="m"  > m
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row form-box">
                    <div class="col-sm-12">
                        <label for="formGroupExampleInput">Thickness <span class="red">*</span></label>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <input #thickness="ngModel" type="text" (change)="createRange(bundle.no_of_slabs)" class="form-control" placeholder="Thickness" [(ngModel)] = "thickness_new" name="thickness" required>
                                    <div *ngIf="thickness.invalid && (thickness.dirty || thickness.touched)" class="alert alert-danger" >

                                      <div *ngIf="thickness.errors.required">
                                        Thickness is required.
                                      </div>
                                   </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                   
                                    <label class="btn btn-primary" (click)="onUnitChange($event)" [ngClass]="{'active': unit=='cm'}">
                                        <input type="radio" name="options" id="option2" autocomplete="off" value="cm" name="t_cm"> cm
                                    </label>
                                 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row padding">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="formGroupExampleInput">Weight <span class="red">*</span></label>
                            <div class="input-group mb-3">
                                <input #weight="ngModel" type="text" class="form-control" (change)="weightChange($event)" placeholder="Weight" [(ngModel)] = "bundle.bundle_weight" name="weight" required>
                                <div class="input-group-append">
                                    <span class="input-group-text" id="basic-addon2">LB</span>
                                </div>
                            </div>
                            <div *ngIf="weight.invalid && (weight.dirty || weight.touched)" class="alert alert-danger" >

                              <div *ngIf="weight.errors.required">
                                Weight is required.
                              </div>
                           </div>
                                                    </div>
                    </div>
                </div>




                  <div class="row form-box">
                      <div class="col-md-6">
                          <div class="form-group">
                              <label for="exampleFormControlSelect1">Number of Bundles <span class="red">*</span></label>
                              <input #no_of_slabs="ngModel" class="form-control" type="number"  min="1" max="100" step="1" [(ngModel)] = "bundle.no_of_slabs" (change)="createRange(bundle.no_of_slabs)" name = "slab_quantity" required>
                              <div *ngIf="no_of_slabs.invalid && (no_of_slabs.dirty || no_of_slabs.touched)" class="alert alert-danger" >

                                <div *ngIf="no_of_slabs.errors.required">
                                  Number of slabs is required.
                                </div>
                             </div>
                          </div>
                      </div>
                      <div class="col-md-6">
                          <button type="button" class="btn btn-light btn-block" data-toggle="modal" data-target="#editSlabs2">
                              Edit Dimension For Selected Slabs
                          </button>
                          <div class="modal fade" id="editSlabs2" tabindex="-1" role="dialog" aria-labelledby="editSlabsLabel" aria-hidden="true" style="z-index: 9999;">
                              <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                      <div class="modal-header">
                                          <h5 class="modal-title" id="editSlabsLabel">Edit Dimension For Slabs</h5>
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                              <span aria-hidden="true">&times;</span>
                                          </button>
                                      </div>

                                      <form #f = ngForm>
                                      <div class="modal-body">

                                          <div class="row">
                                                  <!-- <ng-template ngFor  [ngForOf]= "createRange(bundle.no_of_slabs)" let-i="index" >
                                              <div class="col-sm-12" >
                                                  <label for="formGroupExampleInput">Slab {{i + 1}}</label>
                                                  <div class="row">
                                                      <div class="col-md-4" >
                                                          <div class="form-group">
                                                              <input  type="text" class="form-control" placeholder="Width" name="dimension[{{i}}]['width']" [(ngModel)]="aray[i]['width']"  (keyup)="dimensionKeyUp($event)">
                                                          </div>
                                                      </div>
                                                      <div class="col-md-4">
                                                          <div class="form-group">
                                                              <input type="text" class="form-control" placeholder="Height" name="dimension[{{i}}]['height']" [(ngModel)]="aray[i]['height']" (keyup)="dimensionKeyUp($event)">
                                                          </div>
                                                      </div>
                                                      <div class="col-md-4">
                                                          <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                                              <label class="btn btn-primary" (click)="onUnitChange($event)" [ngClass]="{'active': unit=='inch'}">
                                                                  <input type="radio" name="options" id="option1" autocomplete="off" checked value="inch" (click)="onUnitChange($event)"> inch
                                                              </label>
                                                              <label class="btn btn-primary" (click)="onUnitChange($event)" [ngClass]="{'active': unit=='cm'}">
                                                                  <input type="radio" name="options" id="option2" autocomplete="off" value="cm" (click)="onUnitChange($event)"> cm
                                                              </label>
                                                              <label class="btn btn-primary" (click)="onUnitChange($event)" [ngClass]="{'active': unit=='m'}">
                                                                  <input type="radio" name="options" id="option3" autocomplete="off" value="m" (click)="onUnitChange($event)"> m
                                                              </label>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div></ng-template> -->
                                              <div *ngFor="let item of aray; let i = index" class="col-sm-12" >
                                                <label for="formGroupExampleInput">Slab {{i+1}}</label>
                                                <div class="row">
                                                    <div class="col-md-4" >
                                                        <div class="form-group">
                                                            <input  type="text" class="form-control" placeholder="Width" name="dimension[{{i}}]['width']" [(ngModel)]="aray[i]['width']" (keyup)="dimensionKeyUp($event)">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" placeholder="Height" name="dimension[{{i}}]['height']" [(ngModel)]="aray[i]['height']" (keyup)="dimensionKeyUp($event)">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                                            <label class="btn btn-primary" (click)="onUnitChange($event)" [ngClass]="{'active': unit=='inch'}">
                                                                <input type="radio" name="options" id="option1" autocomplete="off" checked value="inch" (click)="onUnitChange($event)"> inch
                                                            </label>
                                                            <label class="btn btn-primary" (click)="onUnitChange($event)" [ngClass]="{'active': unit=='cm'}">
                                                                <input type="radio" name="options" id="option2" autocomplete="off" value="cm" (click)="onUnitChange($event)"> cm
                                                            </label>
                                                            <label class="btn btn-primary" (click)="onUnitChange($event)" [ngClass]="{'active': unit=='m'}">
                                                                <input type="radio" name="options" id="option3" autocomplete="off" value="m" (click)="onUnitChange($event)"> m
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                          </div>
                                      </div>
                                      <div class="modal-footer">
                                          <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                                          <button type="submit" class="btn btn-primary" data-dismiss="modal" (click)="onDimensionSave(f)">Save changes</button>
                                      </div>
                                 </form>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="row form-box">
                      <div class="col-sm-12">
                          <label for="formGroupExampleInput">Net Square Feet</label>
                          <div class="row">
                              <div class="col-md-6">
                                  <div class="form-group">
                                      <input type="text" class="form-control" style="background: #eff3f6" [disabled]="true" [(ngModel)] = "bundle.net_area" name = "net_area" required minlength="1">
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <a href="#" class="btn btn-light no-margin edit-btn">Edit</a>
                                  <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                      <label class="btn btn-primary" (click)="onUnitChange($event)" [ngClass]="{'active': unit=='inch'}">
                                          <input type="radio" name="options" id="option1" autocomplete="off" value="inch" checked (click)="onUnitChange($event)" > inch
                                      </label>
                                      <label class="btn btn-primary" (click)="onUnitChange($event)" [ngClass]="{'active': unit=='cm'}">
                                          <input type="radio" name="options" id="option2" autocomplete="off" value="cm" (click)="onUnitChange($event)"> cm
                                      </label>
                                      <label class="btn btn-primary" (click)="onUnitChange($event) " [ngClass]="{'active': unit=='m'}">
                                          <input type="radio" name="options" id="option3" autocomplete="off" value="m" (click)="onUnitChange($event)"> m
                                      </label>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="row form-box">
                      <div class="col-sm-12">
                          <label for="formGroupExampleInput">Net Weight</label>
                          <div class="row">
                              <div class="col-md-6">
                                  <div class="form-group">
                                      <input type="text" style="background: #eff3f6" [disabled]="true" class="form-control" [(ngModel)] = "bundle.net_weight" name = "net_weight" required minlength="1">
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <a href="#" class="btn btn-light no-margin edit-btn">Edit</a>
                              </div>
                          </div>
                      </div>
                  </div>
              </form>
          </div>



          <div id="step-3" class="page-content">
              <div class="row">
                  <div class="col-md-4">
                      <div class="prev-img-blk-outer">
                            <button type="button" id="close0"  (click)="removeImage('key0')" aria-label="Close" class="close" style="position:absolute;z-index: 100;    margin-left: 3px; margin-top: 1px;" > <span aria-hidden="true">&times;</span></button>
                          <div class="prev-img-blk">
                              <div class="img_outer" id="prev_image_preview" [style.background-image] = "images[0] ? getBackground(images[0].path) : getBackground('https://via.placeholder.com/500x500?text=Select+Other+Image')">
                              </div>
                              <div class="fileUpload up-btn prev-up-btn">
                                  <input type="file" name="image[0]" id="prev_img_upload_btn" class="upload" accept="image/x-png, image/jpeg" (change)="allFilesToUpload($event,0,'key0')" />
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-8">
                      <div class="row">
                          <div class="col-md-12 form-box">
                              <h6 class="mb-2"><strong>Instruction</strong></h6>
                              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-12 mb-1 mt-3">
                      <p><strong>Other Images</strong></p>
                  </div>
                  <div class="col-md-12">
                      <div class="other-img-blk-outer">
                            <button type="button" id="close1"  (click)="removeImage('key1')" aria-label="Close" class="close" style="position:absolute;z-index: 100;    margin-left: 3px; margin-top: 1px;" > <span aria-hidden="true">&times;</span></button>
                          <div class="other-img-blk">
                              <div class="img_outer" id="other_image_preview"  [style.background-image] = "images[1] ? getBackground(images[1].path) : getBackground('https://via.placeholder.com/500x500?text=Select+Other+Image')">
                              </div>
                              <div class="fileUpload up-btn other-up-btn">
                                  <input type="file" name="image[0]" id="other_img_upload_btn" class="upload" accept="image/x-png, image/jpeg" (change)="allFilesToUpload($event,1,'key1')" />
                              </div>
                          </div>
                      </div>
                      <div class="other-img-blk-outer">
                            <button type="button" id="close2"  (click)="removeImage('key2')" aria-label="Close" class="close" style="position:absolute;z-index: 100;    margin-left: 3px; margin-top: 1px;" > <span aria-hidden="true">&times;</span></button>
                          <div class="other-img-blk">
                              <div class="img_outer" id="other2_image_preview" [style.background-image] = "images[2] ? getBackground(images[2].path) : getBackground('https://via.placeholder.com/500x500?text=Select+Other+Image')">
                              </div>
                              <div class="fileUpload up-btn other-up-btn">
                                  <input type="file" name="image[0]" id="other2_img_upload_btn" class="upload" accept="image/x-png, image/jpeg" (change)="allFilesToUpload($event,2,'key2')" />
                              </div>
                          </div>
                      </div>
                      <div class="other-img-blk-outer">
                            <button type="button" id="close3"  (click)="removeImage('key3')" aria-label="Close" class="close" style="position:absolute;z-index: 100;    margin-left: 3px; margin-top: 1px;" > <span aria-hidden="true">&times;</span></button>
                          <div class="other-img-blk">
                              <div class="img_outer" id="other3_image_preview" [style.background-image] = "images[3] ? getBackground(images[3].path) : getBackground('https://via.placeholder.com/500x500?text=Select+Other+Image')">
                              </div>
                              <div class="fileUpload up-btn other-up-btn">
                                  <input type="file" name="image[0]" id="other3_img_upload_btn" class="upload" accept="image/x-png, image/jpeg" (change)="allFilesToUpload($event,3,'key3')" />
                              </div>
                          </div>
                      </div>
                      <div class="other-img-blk-outer">
                            <button type="button" id="close4"  (click)="removeImage('key4')" aria-label="Close" class="close" style="position:absolute;z-index: 100;    margin-left: 3px; margin-top: 1px;" > <span aria-hidden="true">&times;</span></button>
                          <div class="other-img-blk">
                              <div class="img_outer" id="other4_image_preview" [style.background-image] = "images[4] ? getBackground(images[4].path) : getBackground('https://via.placeholder.com/500x500?text=Select+Other+Image')">
                              </div>
                              <div class="fileUpload up-btn other-up-btn">
                                  <input type="file" name="image[0]" id="other4_img_upload_btn" class="upload" accept="image/x-png, image/jpeg" (change)="allFilesToUpload($event,4,'key4')" />
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>



          <div id="step-4" class="page-content">
              <form>
                  
                 
                  <div class="row padding">
                    
                        <div class="col-sm-12" *ngFor="let data of inspection_report; let i =index" >
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">Inspection Report(bundle-{{i+1}}) <span class="red">*</span></label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" [(ngModel)]="bundle.inspection_report" name="inspection_report"></textarea>
                            </div>
                        </div>
                  
                  </div>
                  <button type="button" class="btn btn-primary create-bdl-btn" [disabled]="!updateForm.valid || !form2.valid" (click)="onUpdate()">Update Bundle</button>
              </form>


              <div class="row">
                <div class="col-md-12">
                    <div style="box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0);" class="filter-box row">
                        <div class="form-group col-md-6 mb-3">
                            <label>Selected Product Type</label><br>
                            <label>{{bundle.product_type}}</label>
                        </div>
                        <div class="form-group col-md-6 mb-3">
                            <label>Select Offer Date</label>
                            <!-- <input type="text" class="daterange form-control" name=""> -->
                            <input type="text"
                          placeholder="Daterangepicker"
                          class="daterange form-control"
                          bsDaterangepicker
                          [(ngModel)]="bundle.dateRange">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label><strong>Offer Value (in %)</strong></label>
                            <div class="input-group ip-with-select">
                                <input [(ngModel)]="bundle.offer_value" type="text" class="form-control" aria-label="Text input with dropdown button">

                            </div>
                        </div>
                    </div>
                </div>
            </div>


          </div>
          </div>

      </div>







  </div>


</div>
</div>
