<div class="sidebar">
    <div class="sidebar-wrapper">
        <ul class="sidebar-head">
            <li><a href="#">ST</a></li>
        </ul>
    </div>
    <ul class="sidebar-nav">
        <li><a class="active" href="/supplier" data-toggle="tooltip" data-placement="right" title="Dashboard"><i data-feather="cpu"></i></a></li>
        <li><a href="/supplier/createbundle"  data-toggle="tooltip" data-placement="right" title="Create New Product"><i data-feather="plus"></i></a></li>
        <li><a  href="/supplier/orders" data-toggle="tooltip" data-placement="right" title="Orders"><i data-feather="shopping-bag"></i></a></li>
        <li><a [routerLink]="['/supplier/products']" data-toggle="tooltip" data-placement="right" title="Product List">
          <i data-feather="list"></i></a></li>
        <li><a href="#" data-toggle="tooltip" data-placement="right" title="Settings"><i data-feather="settings"></i></a></li>

    </ul>
</div>
