<div id="page-container">

    <app-sidebar></app-sidebar>

    <div class="page-wrapper">

      <app-navbar></app-navbar>

      <div class="page-inner sub-menu-inner">
          <div class="container">
              <div class="text-right">
                  <a [routerLink]="['/admin/createDeal']" class="btn btn-primary btn-sm mb-3">Add New Deals</a>
              </div>
              <section class="order-table">
                  <div class="table-details orders text-center">
                      <table class="table table-bordered">
                          <thead>
                              <tr>
                                  <th scope="col">SNO</th>
                                  <th scope="col">Product ID</th>
                                  <th scope="col">Product Name</th>
                                  <th scope="col">Actual Price</th>
                                  <th scope="col">Offer</th>
                                  <th scope="col">Offer Price</th>
                                  <th scope="col">Offer Date</th>
                                  <th scope="col">Action</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td><a href="" class="fields">1</a></td>
                                  <td><a href="" class="fields">#123</a></td>
                                  <td><a href="" class="fields">Slab Green</a></td>
                                  <td><a href="" class="fields">$120</a></td>
                                  <td><a href="" class="fields">10%</a></td>
                                  <td><a href="" class="fields">$108</a></td>
                                  <td><a href="" class="fields">10-05-2018 to 10-01-2019</a></td>
                                  <td>
                                      <a href="#" class="btn btn-primary">Edit</a>
                                      <a href="#" class="btn btn-danger">Delete</a>
                                  </td>
                              </tr>
                              <tr>
                                  <td><a href="" class="fields">1</a></td>
                                  <td><a href="" class="fields">#123</a></td>
                                  <td><a href="" class="fields">Slab Green</a></td>
                                  <td><a href="" class="fields">$120</a></td>
                                  <td><a href="" class="fields">$20</a></td>
                                  <td><a href="" class="fields">$100</a></td>
                                  <td><a href="" class="fields">10-05-2018 to 10-01-2019</a></td>
                                  <td>
                                      <a href="#" class="btn btn-primary">Edit</a>
                                      <a href="#" class="btn btn-danger">Delete</a>
                                  </td>
                              </tr>
                              <tr>
                                  <td><a href="" class="fields">1</a></td>
                                  <td><a href="" class="fields">#123</a></td>
                                  <td><a href="" class="fields">Slab Green</a></td>
                                  <td><a href="" class="fields">$120</a></td>
                                  <td><a href="" class="fields">10%</a></td>
                                  <td><a href="" class="fields">$108</a></td>
                                  <td><a href="" class="fields">10-05-2018 to 10-01-2019</a></td>
                                  <td>
                                      <a href="#" class="btn btn-primary">Edit</a>
                                      <a href="#" class="btn btn-danger">Delete</a>
                                  </td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </section>
          </div>
      </div>

    </div>


  </div>
