<div id="page-container">
  <app-sidebar></app-sidebar>
  <div class="page-wrapper">
    <app-navbar></app-navbar>


    <div class="page-inner sub-menu-inner">
      <div class="container">

          <section class="order-table">
              <div class="table-details orders text-center">
                  <table class="table table-bordered">
                      <thead>
                          <tr>
                              <th scope="col">Request Id</th>
                              <th scope="col">Created By</th>
                              <th scope="col">Supplier Name</th>
                              <th scope="col">Product Name</th>
                              <th scope="col">Product Type</th>
                              <th scope="col">Action</th>
                          </tr>
                      </thead>
                      <tbody>
                                    <tr>
                                        <td><a  class="fields">ssss</a></td>
                                        <td><a   class="fields">Name<span class="flag-icon flag-icon-us"></span></a></td>
                                        <td><a   class="fields">normal</a></td>
                                        <td><a   class="fields">Product Name</a></td>
                                        <td><a   class="fields">something</a></td>
                                        <td>
                                            <a class="btn btn-primary">Requested</a>
                                            <a  class="btn btn-danger">Fullfilled</a>
                                        </td>
                                    </tr>
                                    <tr>
                                      <td><a  class="fields">ssss</a></td>
                                      <td><a   class="fields">Name<span class="flag-icon flag-icon-us"></span></a></td>
                                      <td><a   class="fields">normal</a></td>
                                      <td><a   class="fields">Product Name</a></td>
                                      <td><a   class="fields">something</a></td>
                                      <td>
                                          <a class="btn btn-primary">Requested</a>
                                          <a  class="btn btn-danger">Fullfilled</a>
                                      </td>
                                  </tr>
                                  <tr>
                                    <td><a  class="fields">ssss</a></td>
                                    <td><a   class="fields">Name<span class="flag-icon flag-icon-us"></span></a></td>
                                    <td><a   class="fields">normal</a></td>
                                    <td><a   class="fields">Product Name</a></td>
                                    <td><a   class="fields">something</a></td>
                                    <td>
                                        <a class="btn btn-primary">Requested</a>
                                        <a  class="btn btn-danger">Fullfilled</a>
                                    </td>
                                </tr>
                                <tr>
                                  <td><a  class="fields">ssss</a></td>
                                  <td><a   class="fields">Name<span class="flag-icon flag-icon-us"></span></a></td>
                                  <td><a   class="fields">normal</a></td>
                                  <td><a   class="fields">Product Name</a></td>
                                  <td><a   class="fields">something</a></td>
                                  <td>
                                      <a class="btn btn-primary">Requested</a>
                                      <a  class="btn btn-danger">Fullfilled</a>
                                  </td>
                              </tr>
                      </tbody>
                  </table>
              </div>
          </section>
          </div></div>



</div>






