<ngx-loading [show]="loading"></ngx-loading>

<div id="page-container">

  <style>

    input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

    </style>

    <div >
       <app-navbar></app-navbar>

      <section class="img-slider" *ngIf = "!isitemclicked">

        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                    <!-- <ng-template ngFor let-slider [ngForOf]= "slider_image" let-i="index"> -->
                <div class="carousel-item active">
                    <div class="img-slider" style="background-image: url(../../../assets/img/slab1.jpg)">
                     <!-- [style.background-image] = "getBackground(slider_image[0])" -->

                    </div>
                </div>
                <div class="carousel-item">
                    <div class="img-slider" style="background-image: url(../../../assets/img/slab2.jpg)">
                       <!-- [style.background-image] = "getBackground(slider_image[1])" -->
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="img-slider" style="background-image: url(../../../assets/img/slab3.jpg)" >
                    <!-- [style.background-image] = "getBackground(slider_image[2])" -->
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

    </section>


          <section class="card-overlay">
              <div class="container">
                  <div class="row">
                      <div class="col-md-3 left-card" *ngIf = "!isitemclicked">
                          <div class="inner-bar">
                              <div class="side-bar">
                                  <div class="input-group mb-3">
                                      <input type="text" class="form-control" placeholder="Search By Color" aria-label="Recipient's username" aria-describedby="basic-addon2" (keydown)="searchByColor($event)">
                                      <div class="input-group-append">
                                          <span class="input-group-text" id="basic-addon2"><i class="fas fa-search"></i></span>
                                      </div>
                                  </div>
                                  <label class="box" >Black
                                      <input type="radio" name = "color" value="000000" [(ngModel)] = "searchcolor" (change) = "search()" (click) = "search()">
                                      <span class="checkmark"></span>
                                  </label>
                                  <label class="box" >Blue
                                      <input type="radio" name = "color" value="0000ff" [(ngModel)] = "searchcolor" (change) = "search()" (click) = "search()">
                                      <span class="checkmark"></span>
                                  </label>
                                  <label class="box" >Grey
                                      <input type="radio" name = "color" value="808080" [(ngModel)] = "searchcolor" (change) = "search()" (click) = "search()">
                                      <span class="checkmark"></span>
                                  </label>

                              </div>
                              <div class="inner-bar">
                                  <div class="side-bar">
                                      <div class="input-group mb-3">
                                          <input type="text" class="form-control" placeholder="Search By Type" aria-label="Recipient's username" aria-describedby="basic-addon2" (keydown)="searchByName($event)">
                                          <div class="input-group-append">
                                              <span class="input-group-text" id="basic-addon2"><i class="fas fa-search"></i></span>
                                          </div>
                                      </div>
                                      <label class="box" >Grannite
                                          <input type="radio" name = "type" value="granite" [(ngModel)] = "searchtype" (change) = "searchType()" (click) = "searchType()">
                                          <span class="checkmark"></span>
                                      </label>
                                      <label class="box" >Marble
                                          <input type="radio" value="marble" name = "type" [(ngModel)] = "searchtype" (change) = "searchType()" (click) = "searchType()">
                                          <span class="checkmark"></span>
                                      </label>
                                      <label class="box" >Quartzite
                                          <input type="radio" value="quartzite" name = "type" [(ngModel)] = "searchtype" (change) = "searchType()" (click) = "searchType()">
                                          <span class="checkmark"></span>
                                      </label>
                                      <label class="box" >Quartz
                                          <input type="radio" value="quartz" name = "type" [(ngModel)] = "searchtype" (change) = "searchType()" (click) = "searchType()">
                                          <span class="checkmark" ></span>
                                      </label>
                                  </div>
                              </div>
                          </div>
                      </div>

                      <div class="col-md-9 right-card">
                        <div [hidden]="isitemclicked">
                                <a (click)="showAllItem()" class="btn btn-secondary ml-auto back-button" *ngIf = "isnull && issearched">First Page </a>
                        <ng-template ngFor let-item [ngForOf]= "items" let-i="index">
                          <div class="outer-bar">
                            <div class="row link-button">
                              <div class="col-md-12">
                                  <h2>{{item._id}}</h2>
                                 <a (click)="viewMore(item._id)" class="btn btn-secondary ml-auto" *ngIf = "!isviewmore">View More</a>
                                 <a (click)="showAllItem()" class="btn btn-secondary ml-auto" *ngIf = "isviewmore">Show all items </a>
                                 <a (click)="showAllItem()" class="btn btn-secondary ml-auto" *ngIf = "issearched && !isnull && !isviewmore">Show all items </a>

                             </div>
                           </div>
                           <div class="row">
                           <ng-template ngFor let-doc [ngForOf]= "item.docs" let-i="index" >


                                  <div class="col-md-4">
                                      <div class="card-img-header">
                                          <div class="bg-img">
                                              <a>
                                                  <!-- [ngStyle]="{'background-image': 'url(' + photo + ')'}" -->
                                    <div class="card-img" [style.background-image] = "getBackground(doc.images[0])"  >
                                    </div>
                                    <h4>{{doc.product_name}}</h4>
                                    <span *ngIf="!getDiscountedPrice(doc.price, doc.offer_value) && doc.price != undefined" class="price">{{doc.price===undefined?'':'$'+doc.price}}</span>
                                    <span *ngIf="getDiscountedPrice(doc.price, doc.offer_value)" style="margin: 10px; opacity: 0.4;" class="price"><s>{{doc.price===undefined?'':'$'+doc.price}}</s></span>
                                    <span *ngIf="doc.price != undefined && getDiscountedPrice(doc.price, doc.offer_value)" class="price">$ {{getDiscountedPrice(doc.price, doc.offer_value)}}</span>

                                       <button type="button" class="btn btn-primary btn-block" (click)='viewItemDetail(doc)'>View Details</button>
                                    </a>
                                          </div>
                                      </div>
                                  </div></ng-template>
                                </div>


                              </div>

                        </ng-template>


                        </div>

                        <div *ngIf="false">
                            <div class="row">

                            <ng-template ngFor let-docsearch [ngForOf]= "items" let-i="index" >

                                <div class="col-md-4" >
                                    <div class="card-img-header">
                                        <div class="bg-img">
                                            <a>
                                  <div class="card-img" [style.background-image] = "getBackground(docsearch.images[0].path)"  >
                                  </div>
                                  <h4>{{docsearch.product_name}}</h4>

                                  <span style="margin: 10px; opacity: 0.4;" class="price"><s>{{docsearch.price===undefined?'':'$'+docsearch.price}}</s></span>
                                   <span *ngIf="doc.price != undefined" class="price">$ {{getDiscountedPrice(docsearch.price, docsearch.offer_value)}}</span>

                                     <button type="button" class="btn btn-primary btn-block" (click)='viewItemDetail(docsearch)'>View Details</button>
                                  </a>
                                        </div>
                                    </div>
                                </div>


                              </ng-template>
                        </div>
                          </div>



                      </div></div>






                        <!-- search result -->

       </div>
          </section>

          <script type="text/javascript">
          feather.replace()
          </script>
          <!-- bootstrap-carousel -->
          <script type="text/javascript">
          $('.carousel').carousel()
          </script>



    <div *ngIf="isitemclicked" #top id = "top">

        <div class="zoom-carousel">
            <div class="container">
                <div class="carousel-bg-white">
                    <div class="row">
                        <div class="col-md-6">

                            <div class="exzoom" id="exzoom">
                                <!-- Images -->
                                <div class="exzoom_img_box">
                                  <ul class='exzoom_img_ul'>

                                    <li *ngFor="let item of item_image">
                                      <img [src]="sanitizeUrl(item)">
                                    </li>

                                      <!-- <ng-template ngFor let-item_image [ngForOf]= "item_image" let-i="index" >

                                          <li>
                                                <img [src]="sanitizeUrl(item_image)">
                                          </li>
                                      </ng-template> -->

                                  </ul>
                                </div>
                                <!-- <a href="https://www.jqueryscript.net/tags.php?/Thumbnail/">Thumbnail</a> Nav-->
                                <div class="exzoom_nav"></div>
                                <!-- Nav Buttons -->
                                <p class="exzoom_btn">
                                    <a href="javascript:void(0);" class="exzoom_prev_btn"> < </a>
                                    <a href="javascript:void(0);" class="exzoom_next_btn"> > </a>
                                </p>
                              </div>


                                <!-- <img class="xzoom" src="https://slab-trade-upload.s3.amazonaws.com/image-1545823618938-image-1545391290141-a3.jpg" xoriginal="https://slab-trade-upload.s3.amazonaws.com/image-1545823618938-image-1545391290141-a3.jpg" />

                                <div class="xzoom-thumbs">
                                        <a [href]="sanitizeUrl(item_image[0])">
                                                <img class="xzoom-gallery" width="80" src="https://slab-trade-upload.s3.amazonaws.com/image-1545823618938-image-1545391290141-a3.jpg"  xpreview="https://slab-trade-upload.s3.amazonaws.com/image-1545823618938-image-1545391290141-a3.jpg">
                                                  </a>
                                        <ng-template ngFor let-item_image [ngForOf]= "item_image" let-i="index" >

                                  <a [href]="sanitizeUrl(item_image)">
                                        <img class="xzoom-gallery" width="80" [src]="sanitizeUrl(item_image)">
                                      </a></ng-template> -->
                                  <!-- <a [href]="sanitizeUrl(url+item_image[0])">
                                    <img class="xzoom-gallery" width="80" [src]="sanitizeUrl(url+item_image)">
                                  </a>
                                  <a href="sanitizeUrl(url+item_image[0])">
                                    <img class="xzoom-gallery" width="80" [src]="sanitizeUrl(url+item_image[0])">
                                  </a>
                                  <a href="sanitizeUrl(url+item_image[0])">
                                    <img class="xzoom-gallery" width="80" [src]="sanitizeUrl(url+item_image[0])">
                                  </a> -->
                                <!-- </div> -->


                            <!-- <div class="exzoom" id="exzoom"> -->
                                <!-- Images -->



                                <!-- <div class="exzoom_img_box">
                                    <ul class='exzoom_img_ul'>
                                        <li><img [src]="sanitizeUrl(url+item_image[0])"/></li>
                                        <li><img [src]="sanitizeUrl(url+item_image[1])"/></li>
                                        <li><img [src]="sanitizeUrl(url+item_image[2])"/></li>
                                        <li><img [src]="sanitizeUrl(url+item_image[3])"/></li>
                                        <li><img [src]="sanitizeUrl(url+item_image[4])"/></li>
                                    </ul>
                                </div> -->
                                <!-- <a href="https://www.jqueryscript.net/tags.php?/Thumbnail/">Thumbnail</a> Nav-->
                                <!-- <div class="exzoom_nav"></div> -->
                                <!-- Nav Buttons -->
                                <!-- <p class="exzoom_btn">
                                    <a href="javascript:void(0);" class="exzoom_prev_btn">  </a>
                                    <a href="javascript:void(0);" class="exzoom_next_btn"> > </a>
                                </p>
                            </div> -->
                        </div>
                        <div class="col-md-6 right-box-shaddow">
                            <div class="right-description">
                                <h4 class="bundle-header">Bundle Block No:#{{doc.bundle_number}}</h4>
                                <table class="table-description">
                                    <tbody>
                                        <tr class="row-option row">
                                            <td class="table-option col-md-8">Type : </td>
                                            <td class="table-option1 col col-md-4">
                                                <ul>
                                                    <li class="item">{{doc.product_type}} </li>
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr class="row-option row">
                                            <td class="table-option col-md-8">Color :</td>
                                            <td class="table-option1 col-md-4">
                                                <ul>
                                                    <li class="item">{{doc.color}}</li>
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr class="row-option row">
                                            <td class="table-option col-md-8">Price</td>
                                            <td class="table-option1 col-md-4">
                                                <ul>
                                                   <li style="width: max-content; font-size: 1em" class="item">
                                                    <span *ngIf="getDiscountedPrice(doc.price, doc.offer_value) && doc.price != undefined" style="margin: 10px; opacity: 0.4;" class="price"><s>{{doc.price===undefined?'':'$'+doc.price}}</s></span>
                                                    <span *ngIf="!getDiscountedPrice(doc.price, doc.offer_value)" style="margin: 10px;" class="price">
                                                      {{doc.price===undefined?'':'$'+doc.price}}</span>

                                                    <span *ngIf="doc.price != undefined && getDiscountedPrice(doc.price, doc.offer_value)" class="price">$ {{getDiscountedPrice(doc.price, doc.offer_value)}}</span></li>
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr class="row-option row">
                                            <td class="table-option col-md-8">Bundle Count :</td>
                                            <td class="table-option1 col-md-4">
                                                <ul>
                                                    <li class="item">{{doc.no_of_slabs}}</li>
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr class="row-option row">
                                            <td class="table-option col-md-8">Net Weight :</td>
                                            <td class="table-option1 col-md-4">
                                                <ul>
                                                    <li class="item">{{doc.net_weight}}lbs</li>
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr class="row-option row">
                                            <td class="table-option col-md-8">Gross Weight :</td>
                                            <td class="table-option1 col-md-4">
                                                <ul>
                                                    <li class="item">400lbs</li>
                                                </ul>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="range row">
                                    <div class="col-md-8 form-box">
                                        <div class="form-group">
                                            <label for="exampleFormControlSelect1">Slabs</label>
                                            <!-- <input class="form-control" type="number" value="5" min="0" max="6" step="1" [(ngModel)] = "number"> -->


                                            <div class="input-group input-group-spinner">
                                              <div class="input-group-prepend">
                                                <button (click)="decCount()" style="min-width: 2.5em" class="btn btn-decrement btn-outline-secondary" type="button">
                                                  <strong>-</strong>
                                                </button>
                                              </div>
                                              <input value="5" [min]="number" max="6" type="number" style="text-align: center; width: 180px" class="input" [(ngModel)] = "number">
                                              <div class="input-group-append">
                                                <button (click)="incCount()" style="min-width: 2.5em" class="btn btn-increment btn-outline-secondary" type="button">
                                                  <strong>+</strong>
                                                </button>
                                              </div>
                                            </div>



                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="exampleFormControlSelect1">{{6-number}} Remaining</label>
                                            <div class="fill-container">
                                                <span class="fill gray"[hidden] = "number>=1" ></span>
                                                <span class="fill red" [hidden] = "number<1"></span>
                                                <span class="fill gray" [hidden] = "number>=2"></span>
                                                <span class="fill red" [hidden] = "number<2"></span>
                                                <span class="fill gray" [hidden] = "number>=3"></span>
                                                <span class="fill red" [hidden] = "number<3"></span>
                                                <span class="fill gray"[hidden] = "number>=4" ></span>
                                                <span class="fill red" [hidden] = "number<4"></span>
                                                <span class="fill gray" [hidden] = "number>=5"></span>
                                                <span class="fill red" [hidden] = "number<5"></span>
                                                <span class="fill gray" [hidden] = "number>=6"></span>
                                                <span class="fill red" [hidden] = "number<6"></span>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a  class="btn btn-secondary" (click)="toCart(doc,number)">Add To Cart</a>
                                <!-- <button mat-raised-button (click)="openDialog()">Pick one</button> -->
                            </div>
                        </div>
                    </div>
                </div>


                <div class="outer-bar">
                    <div class="row link-button">
                        <div class="col-md-12">
                            <h2>slab type </h2>
                            <a href="billing-info.html" class="btn btn-secondary ml-auto">View More</a>
                        </div>
                    </div>
                 <div class="row">
                            <ng-template ngFor let-doc1 [ngForOf]= "similarproduct" let-i="index" >

                                    <div class="col-md-3">
                                        <div class="card-img-header">
                                            <div class="bg-img">
                                                <a>
                                                                <div class="card-img"[style.background-image] = "getBackground(doc1.images[0].path)">
                                                                </div>
                                                                <h4>{{doc1.product_name}}</h4>


                                    <span *ngIf="!getDiscountedPrice(doc1.price, doc1.offer_value) && doc1.price != undefined" class="price">{{doc1.price===undefined?'':'$'+doc1.price}}</span>
                                    <span *ngIf="getDiscountedPrice(doc1.price, doc1.offer_value)" style="margin: 10px; opacity: 0.4;" class="price"><s>{{doc1.price===undefined?'':'$'+doc1.price}}</s></span>
                                    <span *ngIf="doc1.price != undefined && getDiscountedPrice(doc1.price, doc1.offer_value)" class="price">$ {{getDiscountedPrice(doc1.price, doc1.offer_value)}}</span>


                                                               <button  type="button" class="btn btn-primary btn-block" (click)='viewItemDetail(doc1)'>View Details</button>
                                                            </a>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>



                    </div></div>
            </div>
        </div>



        <!-- bootstrap.js -->
        <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <!-- feather-icon -->
        <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
        <!-- zoom-carousel.js -->
        <!-- <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjsHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
        <script src="../../assets/js/jquery.exzoom.js">
        </script>
        <script src="../../../assets/js/InputSpinner.js"></script>
        <script src="../../../assets/js/script.js"></script>
        <script src="../../../assets/js/script1.js"></script> -->
        <script type="text/javascript">
        feather.replace()
        </script>
        <!-- bootstrap-carousel -->
        <script type="text/javascript">
        $('.carousel').carousel()
        </script>
        <!-- zoom-carousel -->







    </div>







    <!-- footer -->


    <app-footer></app-footer>

