<nav class="top-nav navbar navbar-expand-lg sticky-top">
        <div class="container">
            <a class="navbar-brand" href="#">SLAB TAB</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/customer">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Slab</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Help</a>
                    </li>
                    <li class="nav-item dropdown" *ngIf="is_authenticated">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Orders</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/customer/order" *ngIf="is_authenticated">Order Details</a>
                            <a class="dropdown-item" href="shipping-details.html" *ngIf="is_authenticated">Shipping Details</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/customer/cart"><i data-feather="shopping-cart"></i><span class="badge badge-light">{{cart_count}}</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" *ngIf="is_authenticated">
          <img src="img/dog.jpg"><h2>{{first_name}}</h2>
        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Settings</a>
                            <a class="dropdown-item" (click)="onLogout()" *ngIf="is_authenticated">Log Out</a>
                           
                        </div>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" href="/login" *ngIf="!is_authenticated">Log In</a>
                    </li>
                </ul>
            </div></div>
    </nav>